.sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;}

  p{
    color:black;
    line-height: 7px;
  }
.pointpvpm{
  display:flex;
  flex-direction: column;
}
.boxpvpm{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.valeurpv{
  width: 20%;
  text-align: center;
  padding-left: 50px;
}
.maxpv{
  width: 20%;
  text-align: center;
  padding-right: 50px;
}
.spacevaleur{
  margin-right: 6px;
  margin-left: 6px;
}
.valeurpm{
  width: 20%;
  text-align: center;
  padding-left: 50px;
}
.maxpm{
  width: 20%;
  text-align: center;
  padding-right: 50px;
}
.nom-competence-all{
  text-align: center;
  font-style: italic;
}
#box1{
  display:flex;
  flex-direction: raw;
  width: 100%;
}
#left-competence{
  display:flex;
  flex-direction: column;
  width: 50%;
  border-right: 2px solid;
  margin-right: 4px;
}
#right-competence{
  display:flex;
  flex-direction: column;
  width: 50%;
}
.entetecompetence{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 4px;
  padding-right: 4px;
}
.colonnenameentete{
  font-style: normal;
  width: 60%;
  border-right: 1px solid;
}
.colonnemodentete{
  width: 20%;
  border-right: 1px solid;
}
.colonnevalueentete{
  width: 20%;
}
.competencestand{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  text-align: center;
  padding-right: 4px;
}
.colonnenamecompstand{
  width: 60%;
  font-style: italic;
  border-right: 1px solid;
}
.colonnenamecompsco1{
  width: 60%;
  font-style: italic;
  color: darkblue;
  border-right: 1px solid;
}
.colonnenamecompsco2{
  width: 60%;
  font-style: italic;
  color: darkred;
  border-right: 1px solid;
}
.colonnemodcompstand{
  width: 20%;
  border-right: 1px solid;
  }
.colonnevaluecompstand{
  width: 20%;
  font-weight: bold;
}
.colonnemodcompstand input{
  font-style: normal;
  font-weight: bold;
  color:red;
}
.colonnemodcompstand input::placeholder{
  font-style: normal;
  font-weight: bold;
  color:red;
}
nav.tab-titles {
  display: flex;
  font-family: 'Suravaram';
  font-size: 1.2em;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
}
nav.tab-titles a.active{
  text-shadow: -1px -1px 1px #aaa,
                     0px 1px 1px rgba(255, 0, 0, 0.5),
                     4px 4px 5px rgba(196, 0, 0, 0.7),
                     0px 0px 3px rgba(245, 0, 0, 0.4);
}
.dividing-diamond {
  width: 1%;
  height: 7px;
  border: 0;
}
#perso-sheet-body > div {
  display: none;
}
#perso-sheet-body > div.active{
  display: flex;
  flex-direction: column;
}
.head-personnage{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blocgauche{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 5px;
  border-right: 1px solid black;
}
.blocdroite{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.encolonne{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
}
.enligne{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.personnagebox1{
  border-bottom: 2px solid darkred;
}
#bourse{
  margin-bottom: 10px;
}
.box1a1{
  width: 50%;
}
.titreenligne{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.textcompspec{
  width: 60%;
}
.feuilleinventaire{
  height: 400px;
}
