<form class="{{cssClass}}" autocomplete="off">
  
  <!-- Sheet Header -->
  <header id="actor-sheet-header" class="sheet-header">
    <img class="token-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="75"/>
    <div class="header-field">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Nom du Personnage"/>
      <label for="nompersonnage">Nom du Personnage</label>
      <input name="data.playername" type="text" value="{{data.playername}}" data-dtype="text" placeholder="Joueur"/>
      <label for="nomjoueur">Nom du Joueur</label>
    </div>
  </header>
  <hr noshade>
  <!--Partie Point pv et pm-->
  <div class="pointpvpm">
    <div class="boxpvpm">
      <div class="valeurpv">Valeur PV</div>
      <div></div>
      <div class="maxpv">PV Max</div>
      <div class="spacevaleur"> - </div>
      <div class="valeurpm">Valeur PM</div>
      <div></div>
      <div class="maxpm">PV Max</div>
    </div>
    <div class="boxpvpm">
      <div class="valeurpv"><input type="text"  name="data.health.value"  value="{{data.health.value}}"  data-dtype="Number" placeholder="10"/></div>
      <div>/</div>
      <div class="maxpv"><input type="text"  name="data.health.max"  value="{{data.health.max}}"  data-dtype="Number" placeholder="10"/></div>
      <div class="spacevaleur"> - </div>
      <div class="valeurpm"><input type="text"  name="data.power.value"  value="{{data.power.value}}"  data-dtype="Number" placeholder="10"/></div>
      <div>/</div>
      <div class="maxpm"><input type="text"  name="data.power.max"  value="{{data.power.max}}"  data-dtype="Number" placeholder="10"/></div>
    </div>
    
  </div>
  <hr>
  
  <body>
    
    <div class="container">
      <div id="tabs">
          <nav class="tab-titles" data-group="primary">
              <a class="active" data-tabtitle="0">Personnage</a>
              <a data-tabtitle="1">Compétences</a>
              <a data-tabtitle="2">Inventaire</a>
              <a data-tabtitle="3">Notes</a>
          </nav>
          <hr>
          <section id="perso-sheet-body">
            <!--Partie Personnage-->
            <div id="tab0" class="active" data-group="primary" data-tabtitle="0">
              <div class="head-personnage">
                <div><h1 class="enligne">PERSONNAGE</h1></div>
                <div class="personnagebox1">
                  <div class="encolonne">
                    <div ><h2 class="enligne">BOURSE</h2></div>
                    <div id="bourse" class="enligne">
                      <div class="enligne">Galions</div>
                      <div class="enligne"><input type="text"  name="data.gallion.value"  value="{{data.gallion.value}}"  data-dtype="Number" placeholder="10"/></div>
                      <div class="enligne">Mornilles</div>
                      <div class="enligne"><input type="text"  name="data.mornille.value"  value="{{data.mornille.value}}"  data-dtype="Number" placeholder="10"/></div>
                      <div class="enligne">Noises</div>
                      <div class="enligne"><input type="text"  name="data.noise.value"  value="{{data.noise.value}}"  data-dtype="Number" placeholder="10"/></div>
                    </div>
                  </div>
                </div>
                <div class="encolonne">
                  <h2 class="titreenligne">INFORMATION</h2>
                  <div class="enligne">
                    <div class="blocgauche">
                      <div class="enligne">
                        <div class="box1a1">Genre</div>
                        <div class="box1a1"><input type="text"  name="data.information.genre"  value="{{data.information.genre}}"  data-dtype="text" placeholder="Genre"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Taille</div>
                        <div class="box1a1"><input type="text"  name="data.information.taille"  value="{{data.information.taille}}"  data-dtype="text" placeholder="Taille"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Corpulence</div>
                        <div class="box1a1"><input type="text"  name="data.information.corpulence"  value="{{data.information.corpulence}}"  data-dtype="text" placeholder="Corpulence"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Maison</div>
                        <div class="box1a1"><input type="text"  name="data.information.maison"  value="{{data.information.maison}}"  data-dtype="text" placeholder="Maison"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Classe</div>
                        <div class="box1a1"><input type="text"  name="data.information.classe"  value="{{data.information.classe}}"  data-dtype="text" placeholder="Classe"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Niveau Social</div>
                        <div class="box1a1"><input type="text"  name="data.information.niveausocial"  value="{{data.information.niveausocial}}"  data-dtype="text" placeholder="Niveau Social"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Parents</div>
                        <div class="box1a1"><input type="text"  name="data.information.parents"  value="{{data.information.parents}}"  data-dtype="text" placeholder="Parents"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1" >Nationnalité</div>
                        <div class="box1a1"><input type="text"  name="data.information.nationnalite"  value="{{data.information.nationnalite}}"  data-dtype="text" placeholder="Nationnalité"/></div>
                      </div>
                    </div>
                    <div class="blocdroite">
                      <div><h3>Caractéristique</h3></div>
                      <div class="enligne">
                        <div class="box1a1">Force</div>
                        <div class="box1a1"><input type="text"  name="data.characteristics.for.value"  value="{{data.characteristics.for.value}}"  data-dtype="Number" placeholder="Force"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Constitution</div>
                        <div class="box1a1"><input type="text"  name="data.characteristics.con.value"  value="{{data.characteristics.con.value}}"  data-dtype="Number" placeholder="Constitution"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Agilité</div>
                        <div class="box1a1"><input type="text"  name="data.characteristics.agi.value"  value="{{data.characteristics.agi.value}}"  data-dtype="Number" placeholder="Agilité"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Dextérité</div>
                        <div class="box1a1"><input type="text"  name="data.characteristics.dex.value"  value="{{data.characteristics.dex.value}}"  data-dtype="Number" placeholder="Dextérité"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Intelligence</div>
                        <div class="box1a1"><input type="text"  name="data.characteristics.int.value"  value="{{data.characteristics.int.value}}"  data-dtype="Number" placeholder="Intelligence"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Sagesse</div>
                        <div class="box1a1"><input type="text"  name="data.characteristics.sag.value"  value="{{data.characteristics.sag.value}}"  data-dtype="Number" placeholder="Sagesse"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Charisme</div>
                        <div class="box1a1"><input type="text"  name="data.characteristics.cha.value"  value="{{data.characteristics.cha.value}}"  data-dtype="Number" placeholder="Charisme"/></div>
                      </div>
                      <div class="enligne">
                        <div class="box1a1">Pouvoir</div>
                        <div class="box1a1"><input type="text"  name="data.characteristics.pou.value"  value="{{data.characteristics.pou.value}}"  data-dtype="Number" placeholder="Pouvoir"/></div>
                      </div>
                    </div>
                  </div>
                </div>
                  
                
              </div>
            </div>
            
            <!--Partie compétence-->
            <div id="tab1" data-group="primary" data-tabtitle="1">
              <div><h1 class="enligne">COMPÉTENCES</h1></div>
              <div id="box1">
                <div id="left-competence">
                  <!-- Entete compétence standard -->
                  <div class="entetecompetence">
                    <div class="colonnenameentete">Nom de la Compétence</div>
                    <div class="colonnemodentete">Mod</div>
                    <div class="colonnevalueentete">Valeur</div>
                  </div>
                  <!-- Tableau compétence standard -->
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Alchimie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp1.mod"  value="{{data.competence.comp1.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp1.value"  value="{{data.competence.comp1.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Apprentissage</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp2.mod"  value="{{data.competence.comp2.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp2.value"  value="{{data.competence.comp2.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Athlétisme</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp3.mod"  value="{{data.competence.comp3.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp3.value"  value="{{data.competence.comp3.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Combat</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp4.mod"  value="{{data.competence.comp4.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp4.value"  value="{{data.competence.comp4.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Connaissance des sorts et secrets</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp5.mod"  value="{{data.competence.comp5.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp5.value"  value="{{data.competence.comp5.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Discrétion</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp6.mod"  value="{{data.competence.comp6.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp6.value"  value="{{data.competence.comp6.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Endurance</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp7.mod"  value="{{data.competence.comp7.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp7.value"  value="{{data.competence.comp7.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Esquive</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp8.mod"  value="{{data.competence.comp8.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp8.value"  value="{{data.competence.comp8.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Force Brute</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp9.mod"  value="{{data.competence.comp9.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp9.value"  value="{{data.competence.comp9.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Lecture / Écriture</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp10.mod"  value="{{data.competence.comp10.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp10.value"  value="{{data.competence.comp10.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Natation</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp11.mod"  value="{{data.competence.comp11.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp11.value"  value="{{data.competence.comp11.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Perception</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp12.mod"  value="{{data.competence.comp12.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp12.value"  value="{{data.competence.comp12.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Persuasion</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp13.mod"  value="{{data.competence.comp13.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp13.value"  value="{{data.competence.comp13.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Psychologie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp14.mod"  value="{{data.competence.comp14.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp14.value"  value="{{data.competence.comp14.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Secourisme</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp15.mod"  value="{{data.competence.comp15.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp15.value"  value="{{data.competence.comp15.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Sorcellerie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp16.mod"  value="{{data.competence.comp16.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp16.value"  value="{{data.competence.comp16.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Tromperie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp17.mod"  value="{{data.competence.comp17.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp17.value"  value="{{data.competence.comp17.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Vigilance</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp18.mod"  value="{{data.competence.comp18.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp18.value"  value="{{data.competence.comp18.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                </div>
                <div id="right-competence">
                  <!-- vidéo 63 -->
                  <!-- Entete compétence scolaire -->
                  <div class="entetecompetence">
                    <div class="colonnenameentete">Nom de la Compétence</div>
                    <div class="colonnemodentete">Mod</div>
                    <div class="colonnevalueentete">Valeur</div>
                  </div>
                  <!-- Tableau compétence scolaire -->
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Apparition</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp19.mod"  value="{{data.competence.comp19.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp19.value"  value="{{data.competence.comp19.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Astronomie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp20.mod"  value="{{data.competence.comp20.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp20.value"  value="{{data.competence.comp20.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Botanique</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp21.mod"  value="{{data.competence.comp21.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp21.value"  value="{{data.competence.comp21.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">DCFM (Théorie)</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp22.mod"  value="{{data.competence.comp22.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp22.value"  value="{{data.competence.comp22.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Apparition</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp23.mod"  value="{{data.competence.comp23.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp23.value"  value="{{data.competence.comp23.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Enchantement</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp24.mod"  value="{{data.competence.comp24.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp24.value"  value="{{data.competence.comp24.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Histoire de la magie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp25.mod"  value="{{data.competence.comp25.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp25.value"  value="{{data.competence.comp25.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Illusion</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp26.mod"  value="{{data.competence.comp26.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp26.value"  value="{{data.competence.comp26.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Métamorphose</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp27.mod"  value="{{data.competence.comp27.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp27.value"  value="{{data.competence.comp27.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Potions</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp28.mod"  value="{{data.competence.comp28.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp28.value"  value="{{data.competence.comp28.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompstand">Sortilèges</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp29.mod"  value="{{data.competence.comp29.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp29.value"  value="{{data.competence.comp29.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompsco1">Arithmancie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp30.mod"  value="{{data.competence.comp30.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp30.value"  value="{{data.competence.comp30.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompsco1">Divination</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp31.mod"  value="{{data.competence.comp31.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp31.value"  value="{{data.competence.comp31.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompsco1">Étude des Moldus</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp32.mod"  value="{{data.competence.comp32.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp32.value"  value="{{data.competence.comp32.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompsco1">Étude des Runes</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp33.mod"  value="{{data.competence.comp33.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp33.value"  value="{{data.competence.comp33.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompsco1">Soin des Créatures Magiques</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp34.mod"  value="{{data.competence.comp34.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp34.value"  value="{{data.competence.comp34.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompsco2">Légilimancie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp35.mod"  value="{{data.competence.comp35.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp35.value"  value="{{data.competence.comp35.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                  <div class=competencestand>
                    <div class="colonnenamecompsco2">Occlumancie</div>
                    <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp36.mod"  value="{{data.competence.comp36.mod}}"  data-dtype="Number" placeholder="0"/></div>
                    <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp36.value"  value="{{data.competence.comp36.value}}"  data-dtype="Number" placeholder="0"/></div>
                  </div>
                </div>
              </div>
              <hr>

              <!--Compétence Spé-->
              <div class="encolonne">
                <div class="entetecompetence">
                  <div class="colonnenameentete">Nom de la Compétence</div>
                  <div class="colonnemodentete">Mod</div>
                  <div class="colonnevalueentete">Valeur</div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp37.nomcompspe"  value="{{data.competence.comp37.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 1"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp37.mod"  value="{{data.competence.comp37.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp37.value"  value="{{data.competence.comp37.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp38.nomcompspe"  value="{{data.competence.comp38.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 2"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp38.mod"  value="{{data.competence.comp38.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp38.value"  value="{{data.competence.comp38.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp39.nomcompspe"  value="{{data.competence.comp39.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 3"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp39.mod"  value="{{data.competence.comp39.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp39.value"  value="{{data.competence.comp39.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp40.nomcompspe"  value="{{data.competence.comp40.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 4"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp40.mod"  value="{{data.competence.comp40.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp40.value"  value="{{data.competence.comp40.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp41.nomcompspe"  value="{{data.competence.comp41.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 5"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp41.mod"  value="{{data.competence.comp41.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp41.value"  value="{{data.competence.comp41.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp42.nomcompspe"  value="{{data.competence.comp42.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 6"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp42.mod"  value="{{data.competence.comp42.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp42.value"  value="{{data.competence.comp42.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp43.nomcompspe"  value="{{data.competence.comp43.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 7"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp43.mod"  value="{{data.competence.comp43.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp43.value"  value="{{data.competence.comp43.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp44.nomcompspe"  value="{{data.competence.comp44.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 8"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp44.mod"  value="{{data.competence.comp44.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp44.value"  value="{{data.competence.comp44.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp45.nomcompspe"  value="{{data.competence.comp45.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 9"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp45.mod"  value="{{data.competence.comp45.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp45.value"  value="{{data.competence.comp45.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp46.nomcompspe"  value="{{data.competence.comp46.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 10"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp46.mod"  value="{{data.competence.comp46.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp46.value"  value="{{data.competence.comp46.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp47.nomcompspe"  value="{{data.competence.comp47.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 11"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp47.mod"  value="{{data.competence.comp47.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp47.value"  value="{{data.competence.comp47.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp48.nomcompspe"  value="{{data.competence.comp48.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 12"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp48.mod"  value="{{data.competence.comp48.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp48.value"  value="{{data.competence.comp48.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp49.nomcompspe"  value="{{data.competence.comp49.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 13"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp49.mod"  value="{{data.competence.comp49.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp49.value"  value="{{data.competence.comp49.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp50.nomcompspe"  value="{{data.competence.comp50.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 14"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp50.mod"  value="{{data.competence.comp50.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp50.value"  value="{{data.competence.comp50.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp51.nomcompspe"  value="{{data.competence.comp51.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 15"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp51.mod"  value="{{data.competence.comp51.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp51.value"  value="{{data.competence.comp51.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp52.nomcompspe"  value="{{data.competence.comp52.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 16"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp52.mod"  value="{{data.competence.comp52.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp52.value"  value="{{data.competence.comp52.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp53.nomcompspe"  value="{{data.competence.comp53.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 17"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp53.mod"  value="{{data.competence.comp53.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp53.value"  value="{{data.competence.comp53.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp54.nomcompspe"  value="{{data.competence.comp54.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 18"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp54.mod"  value="{{data.competence.comp54.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp54.value"  value="{{data.competence.comp54.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp55.nomcompspe"  value="{{data.competence.comp55.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 19"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp55.mod"  value="{{data.competence.comp55.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp55.value"  value="{{data.competence.comp55.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
                <div class=competencestand>
                  <div class="colonnenamecompstand"><input class="textcompspec" type="texte" name="data.competence.comp56.nomcompspe"  value="{{data.competence.comp56.nomcompspe}}"  data-dtype="text" placeholder="Compétence Spéciale 20"></div>
                  <div class="colonnemodcompstand"><input type="text"  name="data.competence.comp56.mod"  value="{{data.competence.comp56.mod}}"  data-dtype="Number" placeholder="0"/></div>
                  <div class="colonnevaluecompstand"><input type="text"  name="data.competence.comp56.value"  value="{{data.competence.comp56.value}}"  data-dtype="Number" placeholder="0"/></div>
                </div>
              </div>
              <!--<select class="widget choice form-control  persist" data-id="psesawof" data-type="Choice">    
                <option value="speco00">Pas de nouvelle compétence spécialisée</option>
                <option value="speco1">Acrobatie (AGIx2)</option>
                <option value="speco2">Armes Blanches courtes (FOR+AGI)</option>
                <option value="speco3">Armes d’Hast (FOR+AGI)</option>
                <option value="speco4">Armes lourdes (FOR+AGI)</option>
                <option value="speco5">Armes moyennes (FOR+AGI)</option>
                <option value="speco6">Art (DEX+INT)</option>
                <option value="speco7">Artisanat (DEX+INT)</option>
                <option value="speco8">Canotage (FOR+AGI)</option>
                <option value="speco9">Chant (CHA+SAG)</option>
                <option value="speco10">Combat à distance (DEX+AGI)</option>
                <option value="speco11">Comédie (CHAx2)</option>
                <option value="speco12">Commandement (INT+SAG)</option>
                <option value="speco13">Commerce (INT+CHA)</option>
                <option value="speco14">Conduire (AGIx2)</option>
                <option value="speco15">Contrefaçon (INTx2)</option>
                <option value="speco16">Crochetage (INT+DEX)</option>
                <option value="speco17">Cryptographie (INTx2)</option>
                <option value="speco18">Cuisine (DEX+INT)</option>
                <option value="speco19">Culture générale (INTx2)</option>
                <option value="speco20">Danse (AGI+SAG)</option>
                <option value="speco21">Déguisement (INT+CHA)</option>
                <option value="speco35">Detection des pièges (SAG+DEX)</option>
                <option value="speco22">Dressage – Communication animal (SAGx2)</option>
                <option value="speco23">Ecriture/lecture (D’une langue Spécifique) (INTx2)</option>
                <option value="speco24">Eloquence (SAG+CHA)</option>
                <option value="speco25">Enseignement (INT+CHA)</option>
                <option value="speco26">Equitation (DEX+AGI)</option>
                <option value="speco27">Filature et Pistage (INT+SAG)</option>
                <option value="speco28">Guérison (INT+SAG)</option>
                <option value="speco29">Ingénierie (INTx2)</option>
                <option value="speco30">Interrogatoire (SAG+INT)</option>
                <option value="speco31">Jeux (SAGx2)</option>
                <option value="speco32">Langue (D’une langue spécifique) (INT+SAG)</option>
                <option value="speco34">Lire sur les lèvres (INTx2)</option>
                <option value="speco33">Maitrise langues antiques (INTx2)</option>
                <option value="speco45">Méditation (SAG+POU)</option>
                <option value="speco36">Musique (CHA+INT)</option>
                <option value="speco37">Mythes et légendes (INTx2)</option>
                <option value="speco38">Navigation (INT+AGI)</option>
                <option value="speco39">Orientation (INT+SAG)</option>
                <option value="speco40">Passe-passe (DEX+CHA)</option>
                <option value="speco41">Recherche (SAG+INT)</option>
                <option value="speco42">Séduction (INT+CHA)</option>
                <option value="speco43">Survie (SAG+CON)</option>
                <option value="speco44">Triche (Examen) (SAGx2)</option>
              </select>-->
            </div>
            
            <!--Partie Inventaire-->
            <div id="tab2" data-group="primary" data-tabtitle="2">
              <div>
                <div><h1 class="enligne">INVENTAIRE</h1></div>
                <div class="feuilleinventaire">
                {{editor content=data.inventaire target="data.inventaire" button=true owner=owner editable=editable}}
                </div>
              </div>
            </div>
            
            <!--Partie Notes-->
            <div id="tab3" data-group="primary" data-tabtitle="3">
              <div><h1 class="enligne">NOTES</h1></div>
              <div>
                {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
              </div>
            </div>
          </section>

      </div>
    </div>
  
    <hr noshade>
  </body>
</form>
