<form class="{{cssClass}}" autocomplete="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Objet"/></h1>
    <label>Dégats
        <input name="data.degats" type="text" value="{{data.degats}}" placeholder="Dégats"/>
    </label>
    <label>Portée
        <input name="data.portee" type="text" value="{{data.portee}}" placeholder="Portée"/>
    </label>
</form>
